body {
margin: 0;
padding: 0;

font-family: 'PT Sans Narrow', Arial, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: 700;
color: #ffffff;
text-transform: uppercase;

background-color: #000000;
background-image: url("../img/background.jpg");
background-position: top center;
background-repeat: no-repeat;
}

.visually-hidden {
    display: none;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;

    font: inherit;
    padding: 10px 30px;
    margin-right: 16px;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}
.appoitment .button {
    margin: 0px;
    width: 100%;
}

.gallery-button {
    position: absolute;
    bottom: 0px;
    width: 80px;
    margin-right: 0px;
}

.gallery-button-back {
    left: 0px;
}

.gallery-button-next {
    right: 0px;
}

.button:hover,
.button:active,
.button:focus {
    background-color: #663d15;
}

.main-navigation-wrapper {
    width: 100%;
    height: 60px;
    margin-bottom: 60px;
    background-color: #000000;
}

.main-navigation-wrapper .conteiner {
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.conteiner {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

}

.main-header-logo {
    order: 2;
}

.site-navigation {
    display: flex;
    width: 620px;
    height: 60px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.user-navigation {
    display: flex;
    width: 140px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.site-navigation li,
.user-navigation li {
    margin: auto;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.user-navigation .login-link::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 18px;

    left: 25px;
    top: 2px;
    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.feature-item {
    width: 300px;
    text-align: center;
}

.feature-item h3 {
    position: relative;
    font-size: 30px;
    line-height: 42px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.feature-item h3::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;

    left: 50%;
    bottom: -30px;
    margin-left: -10px;

    transform: rotate(45deg);

    background-color: rgb(252, 252, 252);

}

.features {
    margin-bottom: 80px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    color: #000000;
    padding: 50px 80px;
    background-color: #f8f5f2;
    margin-bottom: 35px;
}

.news {
    width: 380px;
}

.gallery {
    width: 300px;
}

.contacts {
    width: 380px;
}

.appoitment {
    width: 300px;
}
.index-columns h2 {
    font-size: 30px;
    line-height: 24px;

}

.news-list {
    list-style: none;
    padding-left: 0px;
}

.news-item time{
    text-transform: none;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
    height: 164px;
    width: 286px;
}

.gallery-container {
    height: 268px;
    position: relative;
    padding: 0px 0px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.appointment-item label {
    margin-bottom: 9px;
    margin-left: 15px;
}

form input {
    font: inherit;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid #000000;
    color: darkgray;
}

form input:focus {
    border-color: #663d15;
}

.main-footer {

    background-color: #242424;
}

.main-footer .conteiner {
    display: flex;
    justify-content: space-evenly;
}

.footer-contacts {
    width: 320px;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
    width: 145px;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.modal {
    color: #000000;

    background-color: #f8f5f2;
}

.button-voiti {
    color: #ffffff;
    background-color: #000000;
    text-transform: uppercase;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

